Repository AlbertAZ1992/react-simple-clamp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c .eslintrc.js, stylelint --config .stylelintrc.json, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js}": ["eslint -c .eslintrc.js"],
  "*.{css,less,scss}": ["stylelint --config .stylelintrc.json"],
  "*.{ts,tsx,js,json,html,yml,css,less,scss,md}": ["prettier --write"]
}

chore: add build
  .eslintrc.js
  babel.config.js
  dist/demo.min.js
  es/index.js
  example/index.html
  lib/index.js
  package.json
  rollup.config.js
  scripts/dev.js
  scripts/rollup.config.js
  src/index.tsx
  tsconfig.json
  yarn.lock
Due: eslint -c .eslintrc.js, prettier --write

chore: add build
  .gitignore
  babel.config.js
  dist/demo.min.js
  es/index.js
  lib/index.js
  package.json
  rollup.config.js
  scripts/rollup.config.js
  src/index.tsx
  tsconfig.json
  yarn.lock
Due: eslint -c .eslintrc.js, prettier --write

feat: add component demo
  .gitignore
  babel.config.js
  es/index.js
  example/index.html
  lib/index.js
  package.json
  scripts/dev.js
  scripts/rollup.config.js
  src/index.tsx
  tsconfig.json
  yarn.lock
Due: eslint -c .eslintrc.js, prettier --write

chore: update gitignore
  .gitignore
Due: none

feat: :lipstick: add text clamp
  .eslintrc.js
  src/index.tsx
Due: eslint -c .eslintrc.js, prettier --write

feat: add example
  .eslintrc.js
  .gitignore
  example/demo.jsx
  example/index.d.ts
  example/index.js
Due: eslint -c .eslintrc.js, prettier --write

refactor: render logic
  .eslintrc.js
  example/demo.jsx
  example/index.d.ts
  example/index.js
  src/index.tsx
Due: eslint -c .eslintrc.js, prettier --write

feat: add content generator
  .eslintrc.js
  example/ClampText.d.ts
  example/clamp.d.ts
  example/index.d.ts
  example/index.js
  src/ClampText.tsx
  src/clamp.tsx
  src/index.tsx
Due: eslint -c .eslintrc.js, prettier --write

feat: add clamphtml entry
  .eslintrc.js
  example/ClampText.d.ts
  example/clamp.d.ts
  example/index.d.ts
  rollup.config.js
  scripts/rollup.config.js
  src/ClampHtml.tsx
Due: eslint -c .eslintrc.js, prettier --write

feat: add clamp html
  .eslintrc.js
  example/ClampHtml.d.ts
  example/clamp.d.ts
  example/demo.jsx
  example/index.d.ts
  example/index.js
  package.json
  scripts/dev.js
  scripts/rollup.config.js
  src/ClampHtml.tsx
  src/clamp.tsx
  src/index.tsx
  yarn.lock
Due: eslint -c .eslintrc.js, prettier --write

Create ci.yml
  .github/workflows/ci.yml
Due: prettier --write

refactor: clamp html
  README.md
  example/ClampHtml.d.ts
  example/ClampText.d.ts
  example/clamp.d.ts
  example/demo.jsx
  example/index.js
  package.json
  src/ClampHtml.tsx
  src/ClampText.tsx
  src/clamp.tsx
Due: eslint -c .eslintrc.js, prettier --write

feat: add renderafter
  README.md
  example/ClampHtml.d.ts
  example/ClampText.d.ts
  example/demo.jsx
  example/index.js
  src/ClampHtml.tsx
  src/ClampText.tsx
  src/clamp.tsx
Due: eslint -c .eslintrc.js, prettier --write

chore: update readme
  README.md
  package.json
Due: prettier --write

chore: update build and release
  CHANGELOG.md
  README.md
  example/demo.jsx
  example/index.js
  example/index.js.map
  package.json
  scripts/dev.js
  scripts/rollup.config.js
  yarn.lock
Due: eslint -c .eslintrc.js, prettier --write

chore(release): 1.0.4
  CHANGELOG.md
  package.json
Due: prettier --write

chore(release): 1.0.5
  CHANGELOG.md
  package.json
Due: prettier --write

chore: update release
  .gitignore
  CHANGELOG.md
  api-extractor.json
  package.json
  scripts/rollup.config.js
Due: eslint -c .eslintrc.js, prettier --write

chore(release): 1.1.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore: update dependence
  .github/workflows/publish.yml
  .gitignore
  .npmrc
  .travis.yml
  README.md
  package-lock.json
  package.json
  scripts/cleanTypings.js
  scripts/rollup.config.js
  yarn.lock
Due: eslint -c .eslintrc.js, prettier --write

chore: update dependabot
  .github/dependabot.yml
  .vscode/settings.json
  package-lock.json
Due: prettier --write

chore: update dependencies
  .commitlintrc.js
  .eslintignore
  .husky/commit-msg
  .husky/pre-commit
  .npmrc
  .nvmrc
  .prettierignore
  .prettierrc
  api-extractor.json
  babel.config.js
  jest.setup.js
  jset.config.js
  package.json
  scripts/rollup.config.js
  tsconfig.json
Due: eslint -c .eslintrc.js, prettier --write

chore: update example
  .eslintrc.js
  .gitignore
  .husky/commit-msg
  example/ClampHtml.d.ts
  example/ClampText.d.ts
  example/clamp.d.ts
  example/demo.jsx
  example/index.js
  example/index.js.map
  package.json
  scripts/rollup.config.js
  src/ClampHtml.tsx
  src/ClampText.tsx
  src/clamp.tsx
  tsconfig.json
Due: eslint -c .eslintrc.js, prettier --write

chore: update github aciton
  .github/FUNDING.yml
  .github/mergify.yml
  .github/workflows/ci.yml
Due: prettier --write

chore: update github aciton
  .github/workflows/publish.yml
Due: prettier --write

chore: update github aciton
  .github/workflows/ci.yml
Due: prettier --write

feat: add default content
  src/ClampHtml.tsx
  src/ClampText.tsx
Due: eslint -c .eslintrc.js, prettier --write

chore: update rollup config
  example/demo.jsx
  example/index.html
  example/index.js
  example/index.js.map
  package.json
  scripts/dev.js
  scripts/rollup.config.js
  src/clamp.tsx
  tsconfig.json
Due: eslint -c .eslintrc.js, prettier --write

chore: update rollup config
  .eslintrc.js
  example/ClampHtml.d.ts
  example/ClampText.d.ts
  example/clamp.d.ts
  example/index.d.ts
  example/index.js
  example/index.js.map
  package.json
  scripts/dev.js
  scripts/rollup.config.js
  src/ClampHtml.tsx
  tsconfig.json
Due: eslint -c .eslintrc.js, prettier --write

chore: update ci action
  .github/workflows/ci.yml
  package.json
Due: prettier --write

chore(release): 1.4.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore: update ci action
  .eslintignore
  .github/workflows/build.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .gitignore
  .stylelintrc.json
  CHANGELOG.md
Due: prettier --write

chore: update publish action
  .github/workflows/publish.yml
Due: prettier --write

chore(release): 1.2.0
  CHANGELOG.md
  package.json
Due: prettier --write

docs: update docs
  README.md
  package.json
Due: prettier --write

chore: update action
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: prettier --write

docs: update docs
  README.md
Due: prettier --write

chore(release): 1.2.1
  CHANGELOG.md
  package.json
Due: prettier --write
