Repository AlbertAZ1992/react-simple-clamp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c .eslintrc.js, stylelint --config .stylelintrc.json, prettier --write

docs: update docs
  README.md
Due: prettier --write

chore: update ignore
  .gitignore
Due: none

chore: update npm registry
  package.json
Due: prettier --write

chore: update action
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  package.json
Due: prettier --write

refactor: only parse phrasing content
  .eslintrc.js
  example/index.js
  example/index.js.map
  package.json
  src/ClampHtml.tsx
  src/declare.ts
  src/utils.ts
Due: eslint -c .eslintrc.js, prettier --write

feat: use htmlparser
  example/index.js
  example/index.js.map
  package.json
  scripts/rollup.config.js
  src/ClampHtml.tsx
  src/utils.ts
  stats.html
Due: eslint -c .eslintrc.js, prettier --write

refactor: refactor inline html parser
  .eslintrc.js
  .gitignore
  example/demo.jsx
  example/index.js
  example/index.js.map
  scripts/rollup.config.js
  src/ClampHtml.tsx
  src/clamp.tsx
  src/utils.ts
Due: eslint -c .eslintrc.js, prettier --write

refactor: inline html parser utils
  babel.config.js
  scripts/rollup.config.js
  src/ClampHtml.tsx
  src/clamp.tsx
  src/utils.ts
  src/utils/constants.ts
  src/utils/format.ts
  src/utils/helper.ts
  src/utils/parse.ts
Due: eslint -c .eslintrc.js, prettier --write

chore: update deps
  package.json
  scripts/rollup.config.js
Due: eslint -c .eslintrc.js, prettier --write

feat: update example
  example/demo.jsx
  src/clamp.tsx
  src/utils/parse.ts
Due: eslint -c .eslintrc.js, prettier --write

chore: update action
  .github/dependabot.yml
  .github/workflows/size.yml
Due: prettier --write

chore: update action
  package.json
Due: prettier --write

chore: update action
  .github/workflows/publish.yml
  .size-limit.json
  package.json
Due: prettier --write

chore: update action
  .github/workflows/publish.yml
Due: prettier --write

Path conditions:
  eslint -c .eslintrc.js: any of: *.{ts,tsx,js}
  stylelint --config .stylelintrc.json: any of: *.{css,less,scss}
  prettier --write: any of: *.{ts,tsx,js,json,html,yml,css,less,scss,md}
